<html layout:decorate="~{/user/layout}">
<div layout:fragment="content" class="container my-3">
    <body>
        <div th:object="${user}">
            <span th:field="*{username}">username: </span>
        </div>
        <form method="post" th:object="${userCreateRequestDto}" th:action="@{/member/mypage/modifyPassword}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div>
                <label  class="form-label" for="password1">비밀번호</label>
                <input type="text" class="form-control" th:field="*{password1}">
            </div>
            <div>
                <label  class="form-label" for="password2">비밀번호 확인</label>
                <input type="text" class="form-control" th:field="*{password2}">
            </div>
            <input type="submit" class="btn btn-primary" value="비밀번호 변경">
        </form>
        <form method="post" th:object="${userCreateRequestDto}" th:action="@{|/member/mypage/modify|}">
            <input type="hidden" class="form-control" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div>
                <label  class="form-label" for="nickname">닉네임</label>
                <input type="text" class="form-control" th:field="*{nickname}">
            </div>
            <div>
                <label for="email" class="form-label">이메일</label>
                <input type="text" class="form-control" th:field="*{email}">
            </div>
            <input type="submit" class="btn btn-primary" value="수정하기">
        </form>
    </body>
</html>