<html layout:decorate="~{/global/layout}">
<div layout:fragment="content" class="container my-3">
    <body>
    <div>
        <h4>회원가입</h4>
    </div>
    <form th:action="@{/member/signup}" th:object="${userCreateRequestDto}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" class="form-control" th:field="*{username}">
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" class="form-control" th:field="*{nickname}">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" class="form-control" th:field="*{password1}">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" class="form-control" th:field="*{password2}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" class="form-control" th:field="*{email}">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
    </body>
</div>